
<div class="obsolete_browser_notice">
    <p>We noticed you are using an old browser to view Strma. Please Update your browser in-order to access the full features of the site.</p>
</div>

<div>
        <!-- app navigation -->
        <div class="navmain2">
                <div class="logoMain2"><img class="logomain_item2" src="/assets/icon/strma_logo.png" onclick="nav_logo_click()"></div>
                <div class="navitem_main2" onclick="landing_navClick(this)">FAQs</div>
                <div class="navitem_main2" onclick="landing_navClick(this)">Our Story</div>
                <div class="navitem_main2 artcor_btn_landng2" onclick="landing_navClick(this)">Artist Corner</div>
                <div class="navitem_main2" onclick="landing_navClick(this)">Register Account</div>
        </div>
    
        <!-- App Root -->
        <div class="body_main_container_2">
            <div class="body_main2">
                Music for</br> everyone.
            </div>

            <div class="welcome_widget_landing_2 welcome_notice">
                <h1 class="welcome_hdr_landing2">Welcome</h1>
                <p class="check_para2">
                    For the best experience, we recommend that you upgrade your browser the to latest version, following browsers:
                </p>
                <div class="browsers_cont2">
                        <a href="https://www.microsoft.com/en-ca/download/details.aspx?id=48126" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/edge.png"><div  class="brws_item_title2">Edge</div></a>
                        <a href="https://support.google.com/chrome/answer/95346?co=GENIE.Platform%3DDesktop&hl=en" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/chrome.png"><div class="brws_item_title2">Chrome</div></a>
                        <a href="https://www.mozilla.org/en-CA/firefox/new/" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/firefox.png"><div  class="brws_item_title2">Firefox</div></a>
                        <a href="https://support.apple.com/en-ca/safari" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/safari.png"><div  class="brws_item_title2">Safari</div></a>
                    </div>
            </div>

            <!-- User Notice -->
            <div class="user_notice_mainL">
                <p class="check_para2">
                    For the best experience, we recommend that you upgrade your browser to latest version, following browsers:
                </p>

                <div class="browsers_cont2">
                    <a href="https://www.microsoft.com/en-ca/download/details.aspx?id=48126" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/edge.png"><div  class="brws_item_title2">Edge</div></a>
                    <a href="https://support.google.com/chrome/answer/95346?co=GENIE.Platform%3DDesktop&hl=en" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/chrome.png"><div class="brws_item_title2">Chrome</div></a>
                    <a href="https://www.mozilla.org/en-CA/firefox/new/" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/firefox.png"><div  class="brws_item_title2">Firefox</div></a>
                    <a href="https://support.apple.com/en-ca/safari" class="brws_item2"><img class="brws_item_logo2" src="./assets/icon/safari.png"><div  class="brws_item_title2">Safari</div></a>
                </div>
            </div>            

        </div>



        <!-- Footer -->
        <div class="footer2">
                <div class="footerItem_login">© Strma, Inc.</div>
                <div class="footerItem_login about_btn" onclick="about()">About</div>
                <div class="footerItem_login terms_btn_foot" onclick="footerClick(this)">Terms of Service</div>
                <a class="footerItem_login" href="https://www.facebook.com" target="_blank"><img class="footer_icon1" src="/assets/icon/facebook.png"></a>
                <a class="footerItem_login" href="https://www.instagram.com" target="_blank"><img class="footer_icon1" src="/assets/icon/instagram.png"></a>
        </div>

        

</div>